.header{
      height: 60px;
      display: flex;
      align-items: center;
      background: #131921;
      position: sticky;
      top: 0;
      z-index: 100;
}

.header_search{
    display: flex;
    margin: 20px;
    flex: 1;
    align-items: center;
    
}

.header_searchInput{
    height: 12px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    padding: 10px;
    border: none;
    width: 100%;
}

.header_logo{
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 18px;
}

 .header_searchIcon{
    background: #cd9042;
    height: 22px !important;
    padding: 5px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
 }


 .header_nav{
    display: flex;
    justify-content: space-between;
 }

 .header_option{
    font-size: 14px;
    margin: 7px;
    cursor: pointer;
    display: flex;
    color: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

 .header_optionLineOne{
    font-size: 11px;
    font-weight: 400;
 }


 .header_option:hover{
   color: #f0c14bd4;
 }

 .header_optionLineTwo{
    font-weight: 700;
 }

 .header_optionBasket{
    display: flex;
    color: #fff;
    cursor: pointer;
    align-items: center;
 }

 .header_optionBasket:hover{
   color: #f0c14bd4;
 }

 .header_optionCount{
    margin-left: 10px;
    margin-right: 10px;
 }


 .link{
   text-decoration: none;
   display: flex;
 }