
.login_logo{
    margin-bottom: 20px;
    margin-top: 20px;
    object-fit: contain;
    width: 90px;
    margin-right: auto;
    margin-left: auto;
} 


.Login{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background: #fff;
}


.login_container{
    width: 300px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    border: 1px solid lightgray;
    padding: 20px;
}



.login_container > h1{
    font-weight: 500;
    margin-bottom: 20px;
}
.login_container > form > h5{
    margin-bottom: 5px;

}

.login_container > form > input{
    height: 30px;
    margin-bottom: 10px;
    background-color: white;
    width: 98%;
}

.login_container > p{
    margin-top: 15px;
    font-size: 12px;
}

.signin_btn{
    background: #f0c14b;
    border: 0px;
    width: 100%;
    padding: .8em;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 10px;
    color: #111;
}

.signin_btn:active{
 color: rgb(201, 201, 201);
}

.signin_btn:hover{
    background: #ae8f43;
}

.create_account_btn{
    background: #f0c14b;
    border: 0px;
    width: 100%;
    padding: .8em;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 10px;
    color: #111;
}

.create_account_btn:active{
    color: rgb(201, 201, 201);
}

.create_account_btn:hover{
    background: #ae8f43;
}